<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>situation financiere</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/styles/financial.css}">
   
</head>
<body>
    


    <div class="bottomBar">
        <a th:href="@{/profile}">
            <img th:src="@{/images/profile.png}"  style="width: 100px; height: 100px;">
        </a>
        <a th:href="@{/patients}">
            <img th:src="@{/images/patients.png}"  style="width: 100px; height: 100px;">
        </a>
        <a th:href="@{/caisse}">
            <img th:src="@{/images/bill.png}"  style="width: 100px; height: 100px;">
  
        </a>
        <a th:href="@{/}" class="logout">
  
            <img th:src="@{/images/logout.png}"  style="width: 100px; height: 100px;">
  
        </a>
    </div>
    <div class="content">
        <div class="table-responsive">

            <img th:src="@{/images/bill.png}" alt="an image of the doctor"  style="width: 150px; height: 150px;margin: 20px; margin-left: 400px; "/>

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>time</th>
                        <th>payment state</th>
                        <th>amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="facture : ${factures}">
                        <td th:text="${facture.idFacture}"></td>
                        <td th:text="${facture.dateFacturation}"></td>
                        <td th:text="${facture.etat}"></td>
                        <td th:text="${facture.montantTotal}"></td>
                        <td>
                            <a th:href="@{/deleteFacture/{idf}/{id}(idf=${facture.idFacture}, id=${patient.id})}">
                                <img th:src="@{/images/delete.png}" alt="Delete" style="width: 50px; height: 50px;" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="form-container">

            <img th:src="@{/images/form.png}" alt="an image of the doctor"  style="width: 150px; height: 150px;margin: 20px; margin-left: 400px; "/>

            <form th:action="@{/addFacture/{id}(id=${patient.id})}" method="post" style="background-color:black; color:aquamarine; border-radius: 20px;">


                <div class="form-group">
                    <label for="idc">
                        <img th:src="@{/images/id.png}" alt="an image of the doctor"  style="width: 50px; height: 50px; margin-left: 400px; "/>
                    </label>
                    <input type="text" class="form-control" id="idc" name="idc" placeholder="id consultation">
                </div>

                <div class="form-group">
                    <label for="montant">
                        <img th:src="@{/images/money.png}" alt="an image of the doctor"  style="width: 50px; height: 50px; margin-left: 400px; "/>
                    </label>
                    <input type="text" class="form-control" id="montant" name="montant" placeholder="amount">
                </div>
                

                <div class="form-group">
                    <label for="totale">

                        <img th:src="@{/images/total.png}" alt="an image of the doctor"  style="width: 50px; height: 50px; margin-left: 400px; "/>
                    </label>
                    <input type="text" class="form-control" id="totale" name="totale" placeholder="total amount">
                </div>


                <div class="form-group">
                    <label for="reste">
                        <img th:src="@{/images/money.png}" alt="an image of the doctor"  style="width: 50px; height: 50px; margin-left: 400px; "/>
                    </label>
                    <input type="text" class="form-control" id="reste" name="reste" placeholder="the rest">
                </div>

                <div class="form-group">
                    <label for="date">

                        <img th:src="@{/images/calendar1.png}" alt="an image of the doctor"  style="width: 50px; height: 50px; margin-left: 400px; "/>
                    </label>
                    <input type="date" class="form-control" id="date" name="date">
                </div>
                

            


                <div class="form-group">
                    <label for="etat">
                        <img th:src="@{/images/check.png}" alt="an image of the doctor"  style="width: 50px; height: 50px; margin-left: 400px; "/>
                    </label>
                    <select class="form-control" name="etat" id="etat">
                        <option>PAYEE</option>
                        <option>NON-PAYEE</option>
                    </select>
                </div>


               


                <button type="submit" class="btn btn-info" style="display: flex; justify-content: center; margin-left: 40%; width: 200px;">ADD</button>
            </form>
        </div>
    </div>
</body>
</html>
