<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/profile.css">
      
   
    
  </head>
  <body>

    <div class="bottomBar">
      <a th:href="@{/profile}">
          <img th:src="@{/images/profile.png}"  style="width: 100px; height: 100px;">
      </a>
      <a th:href="@{/patients}">
          <img th:src="@{/images/patients.png}"  style="width: 100px; height: 100px;">
      </a>
      <a th:href="@{/caisse}">
          <img th:src="@{/images/bill.png}"  style="width: 100px; height: 100px;">

      </a>
      <a th:href="@{/}" class="logout">

          <img th:src="@{/images/logout.png}"  style="width: 100px; height: 100px;">

      </a>
  </div>

    <div class="content">
      <div class="profile-header">
        <div>
          <img th:src="@{./images/dentist.png}" alt="an image of the doctor"  style="width: 100px; height: 100px;margin: 20px; "/>
          <span th:text="${user.getNom()}"></span>
          <span th:text="${user.getPrenom()}" ></span>
        </div>
        <div>
            <a th:href="@{/modiferProfile}">
                <button class="btn btn-info" style="margin: 10px;">Edit Profile </button>
            </a>
        </div>
      </div>
      
      <div class="profile-info">
        <p><img src="./images/location.png" alt="Address icon" style="width: 50px; height: 50px;"> <strong></strong> <span th:text="${user.getAdresse()}"></span></p>
        <p><img src="./images/sexe.png" alt="Sexe icon" style="width: 50px; height: 50px;"> <strong></strong> <span th:text="${user.getSexe()}"></span></p>
        <p><img src="./images/telephone.png" alt="Phone icon" style="width: 50px; height: 50px;"> <strong></strong> <span th:text="${user.getTelephone()}"></span></p>
        <p><img src="./images/idCard.png" alt="Cin icon" style="width: 50px; height: 50px;"> <strong></strong> <span th:text="${user.getCin()}"></span></p>
        <p><img src="./images/email.png" alt="Email icon" style="width: 50px; height: 50px;"> <strong></strong> <span th:text="${user.getEmail()}"></span></p>
      </div>
      
   
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
