body {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    margin: 0;
    height: 100vh;
    justify-content: space-between;
}

.bottomBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    color: white;
    position: fixed;
    bottom: 0; 
    left: 0; 
}

.bottomBar a {
    flex: 1;
    display: block;
    text-align: center; 
    padding: 15px;
    text-decoration: none;
    color: white; 
    
}

.bottomBar a:last-child {
    border-right: none; 
}



.content {
    padding: 20px;
    flex: 1;
    overflow-y: auto; 
    display: flex;
    justify-content: space-between;
}

.user-info {
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    display: block;
    padding-left: 10px;
    margin-right: 10px;
    font-weight: lighter;
    font-size: smaller; 
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1100px;
    background-color: black;
    color: aquamarine;

}


.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

.patients {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.patient-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    margin-top: 20px;
}

.patient-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.appointment-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.appointment-table th,
.appointment-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.appointment-table th {
    background-color: #f2f2f2;
}
